<div class="row-fluid selected-tags">
<% current_tags.each do |tag| -%>
  <div class="input-prepend input-append tag">
    <span class="add-on tag-name"><%= tag %></span>
    <span class="add-on remove-tag"><%= link_to 'x', tagged_with_questions_path(tag, true) %></span>
  </div>
<% end -%>

</div>
<div id="sort_tabs" class="pagination">
  <ul class="breadcrumb">
    <li><span>Sort by »</span></li>
    <li>
      <a id="by_age" href="/questions?sort=date-desc" data-sort="/questions?sort=date-asc" title="click to see the newest questions"><span>by date</span></a>
    </li>
    <li class="active">
      <a id="by_activity" href="/questions?sort=activity-desc" data-sort="activity-asc" title="click to see the least recently updated questions"><span>by activity ▼</span></a>
    </li>
    <li>
      <a id="by_answers" href="/questions?sort=answers-desc" data-sort="answers-asc" title="click to see the most answered questions"><span>by answers</span></a>
    </li>
    <li>
      <a id="by_views" href="/questions?sort=views-desc" data-sort="views-asc" title="click to see the most answered questions"><span>by views</span></a>
    </li>
    <li>
      <a id="by_votes" href="/questions?sort=votes-desc" data-sort="votes-asc" title="click to see most voted questions"><span>by votes</span></a>
    </li>
  </ul> 
</div>

<div class="row box">
  <% @questions.each do |question|  %>  
    <%= render "question", question: question -%>
  <% end %>
</div>

