<%= form_for(Comment.new, url: form_url, remote: true) do |f| %>
  <div>
    <%= f.text_area :body, size: "2x3", class: "input-xxlarge" %>
  </div>
  <div>
    <%= f.submit "comment", class: "btn btn-primary" %>
    <a class="btn reset">cancel</a>
  </div>
<% end %>