<!DOCTYPE html>
<html>
	<head>
	  <meta content="text/html; charset=UTF-8" http-equiv="content-Type">  
	</head>
	<body>
	  <h1>this is my comment notify Email</h1>
	  <p>url : <%= @url %></p>
	</body>
</html>