<!DOCTYPE html>
<html>
	<head>
	  <meta content="text/html; charset=UTF-8" http-equiv="content-Type">  
	</head>
	<body>
	  <h1>Welcome <%= @user.name %> </h1>
	  <p>click this link (<%= @url %>) to visit askrubyist.org</p>
	</body>
</html>