<%= form_for(Comment.new) do |f| %>
  <div>
    <%= f.text_area :body, size: "2x3", class: "input-xxlarge" %>
    <%= f.text_field :question_id, type: "hidden", value: target.id %>
  </div>
  <div>
    <%= f.submit "comment", class: "btn btn-primary" %>
    <a class="btn reset">cancel</a>
  </div>
<% end %>