<div id="reply" class="form box">
    <div style="padding:20px;">
    需要 
    <%= link_to(t("common.login"), "/users/sign_in", :class => "btn btn-primary")%> 
    后回复方可<%= defined?(prompt_message) ? prompt_message : "继续" %>, 如果你还没有账号你可以 
    <%= link_to("#{t("common.register")}", "/users/sign_up", :class => "btn btn-danger")%> 一个帐号。
    </div>
</div>