<div class="activity-info">   
  <div class="author">
    <div class="timeago_info">
      <span>
        <%= t("common.updated") %><%= time_ago(created_at) %> 
      </span>
    </div>
    <div class="avatar_left">
      <%= image_tag user.avatar_url(:thumb), :size => "32x32" %>
    </div>
    <div class="user_info">
      <%= link_to user.name, user %><br>
      <span></span>
    </div>
  </div>
</div>  
