<div class="activity-info">   
  <div class="author">
    <div class="timeago_info">
      <span>
        asked <%= time_ago_in_words(created_at)%> ago
      </span>
    </div>
    <div class="avatar_left">
      <img width="32" height="32" src="https://secure.gravatar.com/avatar/5067f92a9ada7ea2567c28bac9d6b118?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
    </div>
    <div class="user_info">
      <a href="#"><%= user.name %></a><br>
      <span>wojiao jinsanpangwojiao</span>
    </div>
  </div>
</div>  
