<div class="activity-info">   
  <div class="author">
    <div class="timeago_info">
      <span>
        <%= t("common.updated") %><%= time_ago(param.created_at) %> 
      </span>
    </div>
    <div class="avatar_left">
      <%= image_tag param.user.avatar_url(:thumb), :size => "32x32" %>
    </div>
    <div class="user_info">

      <%= link_to param.user.name, param.user %>
      <% if param.instance_of?(Answer)&&(param.question.answered_with == param) %>
        <img src="/assets/answer-accepted-on.png">
      <% end %>
      <br>
      <span></span>
    </div>
  </div>
</div>  
