<div class="vote-box">
  <%= form_tag url, method: 'post', remote: true, class: 'vote-form' do -%>
    <%= vote_button :up, votable %>
    <div class="votes_average"><%= votable.votes_average %></div>
    <%= vote_button :down, votable %>
  <% end -%>
</div>


