<% answers.each do |answer| %>
<div class="row-fluid box answer">
  <div class="span1">
    <div class="vote-buttons">
      <div class="voteup"></div>
      <div class="votenumber">0</div>
      <div class="votedown"></div>
    </div>
  </div>

  <div class="span11" style="margin-left: 6px;">
    <%= render "shared/user_info",updated_text: "answered", created_at: answer.created_at, user: answer.user -%>
    <p>
      <%= markdown answer.body %>
    </p>
    <!--Comments-->
    <div class="comment">
      <% if answer.comments -%>
      <%= render "shared/comment", comments: answer.comments -%>
      <% end -%>
      <label>post a comment</label>
      <div id="comment-form" style="display: none;">
        <%= render "shared/comment_form", target: answer %>
      </div>
    </div>
  </div>
</div>
<% end -%>
