<div class="row-fluid box answer">
  <div class="span1">
    <div class="vote-buttons">
      <div class="voteup"></div>
      <div class="votenumber">0</div>
      <div class="votedown"></div>
    </div>
  </div>
  <div class="span11" style="margin-left: 6px;">
    <%= render "shared/user_info", created_at: answer.created_at, user: answer.user -%>
    <p>
      <%= markdown answer.body %>
    </p>
  </div>
</div>
