<div class="box">
  <%= render partial: "widgets/header", locals: {widget: widget} %>
  <div class="contributors">
    <% activity_users.each do |user| %>
      <a href="<%= user_path(user) %>" title="<%= user.name %>">
        <%= image_tag avatar_url(user), :class => "uface" %>
      </a>
    <% end %>
  </div>
</div>