<div class="box">
  <%= render partial: "widgets/header", locals: {widget: widget} %>
  <div>
    <h4>欢迎来到 AskRubyist.org</h4>
    <p>
      这是一个开放的社区,无论你是新手or大牛,这里都有你想要的Ruby精华. 欢迎参与进来,共建Ruby爱好者的知识库.
    </p>
  </div>
</div>