constrains:
  vote_up:                          15
  flag:                             15
  post_images:                      15
  comment:                          50
  delete_own_comments:              50
  vote_down:                        100
  create_new_tags:                  100
  post_whithout_limits:             100
  edit_wiki_post:                   100
  remove_advertising:               200
  vote_to_open_own_question:        250
  vote_to_close_own_question:       250
  retag_others_questions:           500
  delete_comments_on_own_questions: 750
  edit_others_posts:                2000
  view_offensive_counts:            2000
  vote_to_close_any_question:       3000
  vote_to_open_any_question:        3000
  delete_closed_questions:          10000
  moderate:                         10000
  ask:                              -100
  answer:                           -300
rewards: 
  ask_question:                     2
  delete_question:                  0
  answer_question:                  2
  delete_answer:                   -3
  close_question:                   1
  reopen_question:                  0
  comment_question:                 0
  comment_answer:                   0
  answer_picked_as_solution:       15
  answer_unpicked_as_solution:    -15
  vote_up_question:                 0
  undo_vote_up_question:            0
  vote_down_question:              -1
  undo_vote_down_question:          1
  question_receives_up_vote:        2
  question_undo_up_vote:           -2
  question_receives_follow:         2
  question_undo_follow:            -2
  question_receives_down_vote:     -1
  question_undo_down_vote:          1
  vote_up_answer:                   0
  undo_vote_up_answer:              0
  vote_down_answer:                -1
  undo_vote_down_answer:            1
  answer_receives_up_vote:          2
  answer_undo_up_vote:             -2
  answer_receives_down_vote:       -1
  answer_undo_down_vote:            1
  day_with_activity:                0
  day_without_activity:             0
  post_banned:                   -150
  
rules_config:
  - ["vote_up", "Mongoid::Vote", {up: false}]
  - ["vote_down", "Mongoid::Vote", {down: false}]
  - ["comment", "Comment", {create: false}]
  - ["delete_own_comments", "Comment", {destroy: true}]
  - ["create_new_tags", "Tag", {create: false}]
  - ["ask", "Question", {create: false, update: true}]
  - ["answer", "Answer", {create: false, update: true}]
