<div class="page-header">
  <h1><%= t("menu.tags", default: "Tags") %></h1>
</div>
<div id="tags">
  <table class="table">
    <% @tags.each_slice(4) do |tag_tr| %>
      <tr>
        <% tag_tr.each do |tag| %>
          <td style="border-top: 0px;">
            <%= link_to tag.name, tag_path(tag), class: "tag_table" %> <span>x <%= tag.question_count %></span> 
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="tools">
  <%= link_to t('common.new'),
              new_tag_path,
              :class => 'btn btn-mini btn-primary' %>
</div>

