// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

@mixin box {
  text-align: center;
  margin: 0 3px;
  padding: 8px 2px 0px 2px;
  width: 51px;
  float: right;
  height: 44px;
  border: #dbdbdb 1px solid;
  background: #F5F5F5;  
}

@mixin count-font($color) {
  font-size: 25px;
  color: $color;
}


//questions page
.short-summary {
	position: relative;
  padding: 10px 0 3px 0;
  margin-top: 16px;
  margin-bottom: 1px;
  overflow: hidden;
  float: left;
  .stats-box {
    @include box;
  }
  .no-count {
  	@include count-font(#b1b5b6);
  }
  
  .votes {
    .item-count {  	
  	  @include count-font(#4a757f);
	  }
	  &.shadow{
  	  @include box-shadow(rgba(0, 0, 128, 0.6) 0 0 3px, rgba(0, 0, 128, 0.1) 0 0 16px 6px inset); 
  	}
  }  
  .views {
    .item-count {
  	  @include count-font(#D33F00);
  	}
  	&.shadow{
  	  @include box-shadow(rgba(255, 128, 0, 0.6) 0 0 3px, rgba(255, 128, 0, 0.3) 0 0 16px 6px inset); 
  	}
  }
  .answers {
    .item-count {
  	  @include count-font(#EAB243);
  	}
  	&.shadow{
  	  @include box-shadow(rgba(0, 128, 0, 0.6) 0 0 3px, rgba(0, 128, 0, 0.2) 0 0 16px 6px inset); 
  	}
  }
  .userinfo {
  	text-align: right;
    line-height: 16px;
    font-family: Arial;
    padding-right: 4px;
    margin-top: 2px;
    font-size: 11px;
  }
}

.answers-tab {
  margin-top: 10px;
  margin-left: 0;
  padding-top: 6px;
  border-radius: 5px;
  background-color: #DDD;
  clear: right;
  .title {
    font-size: 18px;
    line-height: 30px;
    margin-left: 10px;
  }
  #sort_tabs{
    margin: 0 10px 0 0;
    float: right;
  }
}

.activity-info {
  @include box-shadow(#4A6B82 2px 2px 0); 
  float: right;
  width: 160px;
  margin-top: 10px;
  padding: 6px 6px 0 6px;
  border-radius: 5px;
  background-color: #FAFAFA;
  clear: right;
  .author {
    clear: both;
    .avatar_left {
      float: left;
      margin: 0 3px 5px 0;
    }
    .timeago_info {
      font-size: 11px;
    }
    .user_info {
      font-size: 11px;
      line-height: 16px;
    }    
  }
}

.inline-block {
	@include inline-block;
	@include box-shadow(#4A6B82 1px 1px 1px);
  padding: 1px 4px;
  background: #c4dae9;
  color: #4a6b82;
  font-size: 11px;
  border-radius: 3px; 
}

.edit-answer-form {
  display: none;
}
.edit-question-form {
  display: none;
}

//comment
.comment {
  margin: 20px 30px 0 30px;
  label {
    background: url("comment.png") no-repeat scroll left center transparent;
    color: #988E4C;
    font-family: Arial;
    font-size: 13px;
    padding: 0 3px 2px 22px;
    text-decoration: none;
    width: 120px;
    margin-bottom: 30px;
    &:hover {
      color: #F5F0C9;
    }
  }
  #comment-form {
    margin-left: 30px;
  }
  .comment-content {
    border-top: 1px dotted #DDDDDD;
    margin-bottom: 10px; 
  }
}

//footer
.footer {
  background-color: #FEFEFE;
  margin-top: 30px;
  padding-top: 20px;
  height: 40px;
  text-align: center;
}

//new_question page
form#new_question.form-horizontal {
  .control-label {
    //width: 130px;
  }
  .controls {
    //margin-left: 130px;
  }
}