

.simple_form {
  label.required {
    abbr { color:#c00; }
  }
}

abbr[title] { border:0; cursor:default; }

.devise-form{
  .control-group {
    &.no-margin{
      margin: 0;
      margin-top: -20px;
    }
    .control-label {
      width: 50px;
    }
    .controls {
      margin-left: 80px;
    }
  }
}